<div class="col-md-9 middleButtonPadding">
  <div class="allTypes">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="watchMeFlex">
            <h3>Structured Interview</h3>
            <a routerLink="/research/interviews/semi-structured" class="btn btn-default">Create Project</a>
          </div>
          <hr>
          <p>
            As the name suggests, structured interviews are very strict about how participants are able to answer the interviewer's questions.
          </p>
          <p>
            Questions are created beforehand and typically read verbatim. The participant then might be limitted to a multiple choice
            answer, or, in the case of a verbal response from the participant, the interviewer might attempt to steer the
            participant back to the question's topic should the participant start to talk about something not directly related
            to the question
          </p>
        </div>
        <div class="col-md-4">
          <h3>Pros</h3>
          <ul>
            <li>
              Due to the restrictions on the answers participants are allowed to give, this model is generally the easiest to compare and
              contrast between multiple particpants
            </li>
          </ul>
          <h3>Cons</h3>
          <ul>
            <li>
              Does not allow the participant to visit similiar topics to given questions. This can limit the range of information received
              from the p
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
