.middleButtonPadding {
  padding-left: 15%;
}

.allTypes {
  padding-bottom: 30px;
}
hr {
  border-color: teal;
  background-color: teal;
  width: 100%;
}

.questionPadding {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tabTopPadding {
  padding: 3.2%;
}