<div class="col-md-9 middleButtonPadding">
  <div class="allTypes">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="watchMeFlex">
            <h3>Unstructured Interview</h3>
            <div class="choiceButton">
              <a routerLink="/research/interview/unstructured" class="btn btn-default">Create Project</a>
            </div>
          </div>
          <hr>
          <p>While the format of unstructured interviews can vary, in general, very few to no interview questions are prepared
            in this model. This allows the participant the freedom to explore any area of the given topic throughout most
            of the interview
          </p>
        </div>
        <div class="col-md-4">
          <h3>Pros</h3>
          <ul>
            <li>
              Can potentially lead to unexplored topics previously unknown to the interviewer
            </li>
            <li>
              Useful when the interviewer knows little about the subject and does NOT know what questions should be asked
            </li>
          </ul>
          <h3>Cons</h3>
          <ul>
            <li>
              Can be difficult to compare responses accross participants due to the potential diversity of responses
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
