<div class="container-fluid myPadding d-flex flex-column">
  <div class="row">
    <div class="col-sm-12 noPadding">
      <app-nav></app-nav>
    </div>
  </div>
  <div class="row lowerRowPadding">
    <div class="col-sm-12">
      <div class="middlePadding">
        <h2><strong>Step by step assitance building social research projects</strong></h2>
        <h4>Don't know what questions to ask?</h4>
        <h4>We have the answers anyway</h4>
        <a routerLink="/user" class="btn btn-default btn-lg personalizedButton">Get started</a>
      </div>
    </div>
    <div class="col-sm-7">
    </div>
  </div>
</div>

