  <div class="logo">
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navContain">
        <div class="navbar-header">
          <div class="myHeader">
            <div>
              <a class="verticalLine" id="logo" href="#"><span id="logo">RSG</span></a>
            </div>
            <div>
              <h2 id="tagLine">A resource for creating comprehensive research projects</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>