<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">RSG</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/new">New Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other</a>
      </li>
    </ul>
    <!--<div>{{areLoggedIn}}</div>-->
    <form class="form-inline my-2 my-lg-0" *ngIf="!userState.user">
      <div class="form-group">
        <input type="text" [(ngModel)]="login.email" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="login.password" class="form-control" name="password" placeholder="Password">
      </div>
      <button (click)="onLogin()" routerLink="/user" type="submit" class="btn btn-primary">Sign In</button>
    </form>
  </div>
  <div class="d-flex justify-content-center align-items-center" *ngIf="userState && userState.user">
  <button (click)="logout()" type="submit" class="btn btn-primary">Log Out</button>
  </div>
</nav>



