body {
  background-color: rgb(230, 230, 230);
  font-family: 'Noto Serif', serif;
    /*background-image: url("../assets/images/study.jpg");*/

}
.navbar-nav > li > a {padding-top:40px !important; padding-bottom:40px !important;}
.navbar {min-height:32px !important}

#logo {
  font-size: 70px;
  color: white;
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  }
  
.navContain {
  display: flex;

  padding-left: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.myHeader {
  display: flex;
  flex-direction: row;
}
.verticalLine {
  align-self: stretch;
  /*width: 0px;*/
  border-right: thick solid black;
  padding-right: 25%;
}
ul {
  list-style-type: none;
}
.myIcons {
  font-size: 50px;
}
#tagLine {
  color: white;
  margin-left: 7%;
}
.navbar-default {
  background-color: rgb(3,120,160);
  /*border-color: #013e52;*/
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #013e52;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #013e52;
}
.navbar-default .navbar-toggle {
  /*border-color: #013e52;*/
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #013e52;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #013e52;
  }
}
p {
  font-size: 16px;
}