<div class="row">
  <div class="col-md-12">
    <div class="tipsBackground myPadding">
      <h3 style="text-align: center" >Tips</h3>
      <hr>
        <p class="fa fa-info" aria-hidden="true">. tip 1</p>
        <br/>
        <p class="fa fa-info" aria-hidden="true">. another tip</p>
        <br/>
        <p class="fa fa-info" aria-hidden="true">. this is a longer tip to see how a long tip will fit into my box</p>
        <br/>
        <p class="fa fa-info" aria-hidden="true">. another tip</p>
        <br/>
        <p class="fa fa-info" aria-hidden="true">. a final tip of a different length</p>

    </div>
  </div>
</div>
