.profilePicFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  display: flex;
  height: auto;
  width: 50%;
}

.profileBackground {
  display: flex;
  /*background-color: rgb(220, 234, 204);*/
  background-color: rgb(99.1%, 99.1%, 99.1%);
  align-content: flex-end;
}

.fa {
  font-size: 120px;
}

.newButton {
    margin: 8%;
    float: center;
    color: blue;
}
