<!--<div class="container-fluid">
  <div class="row profileBackground">
    <div class="col-sm-5">
      <div class="row">
        <div class="profilePicFlex">
          <div>
            <h3>Welcome back, (name) </h3>
            <p>From here you can edit your current projects or start a new one</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="">
        <div class="profilePicFlex">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="">
        <div class="profilePicFlex">

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="">
        <div class="profilePicFlex">
        </div>
      </div>
    </div>
  </div>
</div>-->
