<div class="container-fluid topPadding">
  <div class="row">
    <div class="col-sm-12">
      <div class="watchMeFlex">
        <h3>Semi-structured Interview</h3>
        <div class="choiceButton">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <p>
        Semi-structured interviews are a hybrid between unstructured and structured interview models.
      </p>
      <p>
        Typically, questions are prepared beforehand, but the participant is allowed to answer and explore the question freely even
        if this means visiting indirectly related topics to the given question
      </p>
      <a routerLink="/research/interviews/semi-structured" class="btn btn-default" (click)="setNavType('interviewOverview')">Create Project</a>
    </div>
    <div class="col-md-4">
      <h3>Pros</h3>
      <ul>
        <li>
          A good hybrid which adopts some structure, making it easier to compare data accross participants while allowing participants
          some freedom to personalize their response to their experiences
        </li>
      </ul>
      <h3>Cons</h3>
      <ul>
        <li>
          Traditionally not as easy to compare data accross participants as structured interviews
        </li>
        <li>
          Potentially a smaller range of
        </li>
      </ul>
    </div>
  </div>
</div>
