.paddingSpace {
    padding-bottom: 2%;
    padding-top: 2%;
}
ul {
  list-style-type: none;
  padding-left: 0 !important;
}
.personalizedButton{    
  background-color: rgb(139, 0, 0);
  color: white;
}
.featuredArticle {
    padding-left: 5%;
}
a {
  cursor: pointer;
}