<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="profilePictureParent d-flex justify-content-center align-items-start">
        <img class="img-fluid" src="../../assets/images/profilePicture.png" alt="test tube">
      </div>
    </div>
  </div>
  <div class="row topBottomPadding ">
    <div class="col-sm-12">
      <h5 class="d-flex justify-content-center">Welcome, Bobby</h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
      <div>
        <h6 class = "d-flex justify-content-center">New Project</h6>
        <a routerLink="/user/new" class="btn btn-default personalizedButton">Get started</a>
      </div>
    </div>
  </div>
</div>
