.container-fluid {
  padding-top: 5%;
  /*margin-left: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;*/
  margin-right: 10% !important;
}

.whiteBackground {
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*.shadowDiv {
  transform: scale(1.0);
  -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
  filter: drop-shadow(1.5px 1.5px 1.5px #222);
  border-radius: 14px;
  padding: 3%;
}

ul {
  font-size: 20px;
  list-style-type: none;
}

.bulletPoints {
  display: flex;
  align-items: center;
}

.editButton {
  background-color: rgb(2%, 85%, 86.2%);
}

.deleteButton {
  background-color: rgb(100%, 37.8%, 14.8%);
}

.editDeleteButton {
  margin-left: 7%;
}


.unselectedProject:hover,
.newProjectTabs:hover,
.newProjectTabsReverse:hover,
.unselectedProjectReverse:hover {
  background-color: rgb(0, 124, 142) !important;
  color: white;
}

.allExistingProjects:hover,
.existingProjectTabs:hover,
.existingProjectTabsReverse:hover,
.allExistingProjectsReverse:hover {
  background-color: rgb(37.4%, 0.6%, 14.6%) !important;
  color: white;
}

a {
  display: flex;
  justify-content: flex-start
}

.profileContent {
  display: flex;
  justify-content: center;
  width: 100%;
}

.startButton {
  background-color: rgb(0, 124, 142);
  color: white;
}

#exTab1 .tab-content {
  background-color: rgb(92.6%, 94.6%, 96%);
  border-top: 25px solid rgb(0, 124, 142);
  border-right: 3px solid rgb(0, 124, 142);
  border-left: 3px solid rgb(0, 124, 142);
  border-bottom: 3px solid rgb(0, 124, 142);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#exTab2 .tab-content {
  background-color: rgb(92.6%, 94.6%, 96%);
  border-top: 25px solid rgb(37.4%, 0.6%, 14.6%);
  border-right: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-left: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-bottom: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn-default {
  background-color: rgb(102, 148, 153);
  color: white;
}

#exTab1 .nav-pills>li>a {
  border-radius: 0;
}

#exTab2 .nav-pills>li>a {
  border-radius: 0;
}

#exTab3 .nav-pills>li>a {
  border-radius: 4px 4px 0 0;
}

a {
  cursor: pointer
}

.newProjectTabs {
  color: white;
  background: rgb(0, 124, 142);
  outline: 0;
  border-top: 3px solid rgb(0, 124, 142);
  border-right: 3px solid rgb(0, 124, 142);
  border-left: 3px solid rgb(0, 124, 142);
  border-bottom: 3px solid rgb(0, 124, 142);
  border-top-right-radius: 14px !important;
  margin: 0 !important;
}

.newProjectTabsReverse {
  color: white;
  background: rgb(0, 124, 142);
  outline: 0;
  border-top: 3px solid rgb(0, 124, 142);
  border-right: 3px solid rgb(0, 124, 142);
  border-left: 3px solid rgb(0, 124, 142);
  border-bottom: 3px solid rgb(0, 124, 142);
  border-top-left-radius: 14px !important;
  margin: 0 !important;
}

.allExistingProjects {
  color: white;
  background: rgb(37.4%, 0.6%, 14.6%);
  outline: 0;
  border-top: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-right: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-left: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-bottom: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-top-left-radius: 14px !important;
  margin: 0 !important;
}

.allExistingProjectsReverse {
  color: white;
  background: rgb(37.4%, 0.6%, 14.6%);
  outline: 0;
  border-top: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-right: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-left: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-bottom: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-top-right-radius: 14px !important;
  margin: 0 !important;
}

.active {
  color: white;
  background: rgb(37.4%, 0.6%, 14.6%);
  outline: 0;
}

.blueBar {
  height: 20px;
  background-color: rgb(0, 124, 142)
}



.unselectedProject {
  color: rgb(0, 124, 142);
  border-top: 3px solid rgb(0, 124, 142);
  border-right: 3px solid rgb(0, 124, 142);
  border-left: 3px solid rgb(0, 124, 142);
  border-bottom: 3px solid rgb(0, 124, 142);
  border-top-left-radius: 14px !important;
  margin: 0 !important;
}

.unselectedProjectReverse {
  color: rgb(0, 124, 142);
  border-top: 3px solid rgb(0, 124, 142);
  border-right: 3px solid rgb(0, 124, 142);
  border-left: 3px solid rgb(0, 124, 142);
  border-bottom: 3px solid rgb(0, 124, 142);
  border-top-right-radius: 14px !important;
  margin: 0 !important;
}

.existingProjectTabs {
  color: rgb(37.4%, 0.6%, 14.6%);
  border-top: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-right: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-left: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-bottom: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-top-right-radius: 14px !important;
  margin: 0 !important;
}

.existingProjectTabsReverse {
  color: rgb(37.4%, 0.6%, 14.6%);
  border-top: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-right: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-left: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-bottom: 3px solid rgb(37.4%, 0.6%, 14.6%);
  border-top-left-radius: 14px !important;
  margin: 0 !important;
}

.noMargin {
  margin: 0px !important;
}

.existingProjectTabs {
  color: rgb(37.4%, 0.6%, 14.6%)
}

.myPadding {
  display: flex;
  width: 80%;
  text-align: center;
  margin-top: 2%;
}

.subFastTrackCategories {
  float: left;
  margin-left: 3%;
}*/
