<div class="container-fluid">
  <div class="row bottomPadding">
    <div class="col-sm-12 d-flex justify-content-center">
      <h4>Featured research project</h4>
    </div>
  </div>
  <div class="row bottomPadding">
    <div class="col-sm-6">
      <img class="img-fluid" src="../../assets/images/researchHeader.jpg" alt="bookShelves">
    </div>
    <div class="col-sm-6">
    <h5 class="bottomPadding">University of Georgia Costa Rica research project re-purposed to help local farmers</h5>

    <p>University of Georgia in Costa Rica (UGACR) employees have re-purposed their camera-trapping project to serve a community affected by puma attacks.</p>

    </div>
  </div>
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias vero facere fugit, aliquam illum error. Optio in temporibus quia commodi rem alias autem, nesciunt dignissimos, similique voluptatem debitis? Iusto, minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo assumenda repellat sapiente, incidunt unde commodi minus amet vel ex et ipsum ipsam omnis nihil molestias, error neque, inventore excepturi nobis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, magni, eligendi! Neque a officia id reprehenderit saepe, repudiandae iusto! Repellat non cum ipsum, aut distinctio at quod quasi placeat quidem.</p>
  </div>
</div>
