.flexBoxing {
  display: flex;
  justify-content: center;
}

.allTypes {
  /*border-top: 25px solid #426892;*/
  /*border-right: 4px solid #426892;*/
  /*border-left: 4px solid #426892;*/
  /*border-bottom: 4px solid #426892;*/
  /*border-bottom-left-radius: 14px;*/
  /*border-bottom-right-radius: 14px;*/
  /*border-top-right-radius: 14px;*/
  padding-top: 30px;
  padding-bottom: 30px;
}
.test {
  background-color: white;
}

#sidePadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  
}
.container {
    width: 1170px;
}

.leftButtonPadding {
  padding-right: 0;
  background-color: white;
  padding-bottom: 0;
}
.tabLowerBar {}

.middleButtonPadding {
  padding-right: 0;
  padding-left: 0;
  background-color: white;
}

.rightButtonPadding {
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  
}

.firstButtonPadding {
  border-bottom-left-radius: 14px;
}

.thirdButtonPadding {
  border-bottom-right-radius: 14px;
}

.squares {
  border-top: 6px solid #426892;
  border-right: 6px solid #426892;
  border-left: 6px solid #426892;
  border-bottom: 6px solid #426892;

}

.squares1 {
  background-color: #426892;
  color: white;
  padding: 1%;
  text-align: center;
}

.squares2 {
  color: black;
  padding: 1%;
  text-align: center;
}

.squares2:hover {
  background-color: #426892;
  color: white;
  padding: 1%;
  text-align: center;
}

a {
  cursor: pointer;
}

.makeItFlex {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 12%;
  padding-top: 3%;
}


